<main role="main" class="container pt-1">
  <footer class="d-flex flex-wrap justify-content-center align-items-center py-3 my-4 border-top">
    <div class="d-flex justify-content-end">
      <span class="text-muted">© 2023 Designed with</span>
      <span class="material-icons">
          favorite
      </span>
      <span class="text-muted mr-3 ml-2"> By &lt;Crissoft/></span>
      <ul class="nav justify-content-star list-unstyled d-flex mb-2">
        <a href="https://www.linkedin.com/in/cristian-losada-6ab093162/" class="text-dark" target="_blank" style="text-decoration: none;"><i class="fi fi-brands-linkedin" style="font-size: 24px;"></i></a>
        <a href="https://github.com/cristianlosada" target="_blank" class="text-dark" style="text-decoration: none;"><i class="fi fi-brands-github" style="font-size: 24px;"></i></a>
      </ul>
    </div>
  </footer>
</main>
