
<main role="main" class="container pt-1">
  <ul class="nav nav-pills" style="background-color: #e4e4e4 !important;" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="pill" href="/gestor" role="pill" aria-controls="home" aria-selected="true">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="crear_cuenta-tab" data-toggle="pill" href="/crear" role="pill" aria-controls="crear_cuenta" aria-selected="false">Crear Cuenta</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="consignar-tab" data-toggle="pill" href="/consignar" role="pill" aria-controls="consignar" aria-selected="false">Consignar</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="retirar_dinero-tab" data-toggle="pill" href="/retirar" role="pill" aria-controls="retirar_dinero" aria-selected="false">Retirar Dinero</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="consultar_saldo-tab" data-toggle="pill" href="consultar" role="pill" aria-controls="consultar_saldo" aria-selected="false">Consultar Saldo</a>
    </li>
  </ul>
</main>