<app-header></app-header>
<div class="card bg-dark text-white">
  <img src="../../../assets/familia.jpg" class="card-img" alt="Card image" style="opacity: 0.4;"/>
  <div class="card-img-overlay mt-2">
    <p class="card-text"></p>
    <h1 class="mt-5 card-title text-center">Libretón Cuenta de Ahorros</h1>
    <p class="lead ml-4 mr-4 pt-5 text-center" style="padding-left: 50px; padding-right: 50px;">Bienvenido/a a nuestro sitio web de gestión bancaria. Aquí, puedes disfrutar de una experiencia bancaria en línea sin problemas. Ofrecemos servicios para crear cuentas, consultar saldos, retirar y depositar dinero de forma fácil y rápida. Con nuestra plataforma, podrás acceder a tus finanzas en cualquier momento y en cualquier lugar. Además, nuestra seguridad y privacidad son nuestra principal preocupación, por lo que puedes estar seguro/a de que tu información está protegida. ¡Únete a nosotros y descubre cómo podemos ayudarte a gestionar tus finanzas de manera eficiente!</p>
  </div>
</div>
